.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 images !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity 0.3s;
  transition: 0.3s;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

ul {
  list-style: none;
  margin: 0 0;
  padding: 0;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: hsl(0deg, 0%, 100%);
  text-align: center;
  margin-top: 0%;
  padding-top: 200px;
  margin-bottom: 30px;
}

h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: #212121;
  margin-top: 30px;
}

h2 {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.list-item {
  font-family: var(--Roboto);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.signature {
  font-family: var(--Roboto);
  color: var(--text-decoration-color);
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}

.container-nav {
  display: flex;
  width: 1200px;
  height: 80px;
  margin: 0 auto;
}

.container-footer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.modal-button {
  fill: #000000;
}

.close-btn {
  margin-left: 490px;
  margin-top: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--primary-address-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: var(--primary-address-color);
  background-color: var(--text-decoration-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-send {
  font-family: var(--Roboto);
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 87;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-left: 164px;
  padding: 10px 76px;
  border: none;
  border-radius: 4px;
  background-color: var(--Icon-Color);
  color: var(--primary-address-color);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15);
  offset: 0px, 4px;
}

.btn-send:hover,
.btn-send:focus {
  background-color: var(--brand-color);
  color: var(--primary-address-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-section__button {
  font-weight: 700;
  font-size: 16px;
  color: #212121;
  line-height: 1.875;
  cursor: pointer;
  background-color: #f5f4fa;
  padding: 10px 41px 10px 42px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  border-radius: 4px;
}
.main-section__button.main-section__button:hover, .main-section__button.main-section__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio {
  font-family: var(--Roboto);
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.875;
  cursor: pointer;
  background-color: var(--button-background-color);
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  border-style: none;
}

.button-positioner {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 94px;
  margin-bottom: 34px;
}

.header__logo {
  margin-left: 15px;
  margin-top: 24px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
}
.header__logo span {
  color: rgb(0, 0, 0);
}

.footer__logo {
  margin-top: 24px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
}
.footer__logo span {
  color: rgb(255, 255, 255);
}

.modal-container {
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.modal {
  background-color: var(--primary-address-color);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.12);
}

.modal-form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.modal h2 {
  font-size: 20px;
  text-align: center;
  margin: 0;
  margin-top: 2px;
}

.modal form {
  padding-top: 12px;
  margin-left: 40px;
}

#signup-form label {
  display: flex;
  flex-direction: column;
  color: rgb(117, 117, 117);
  font-family: var(--Roboto);
  font-size: 12px;
}

.modal input {
  margin-bottom: 10px;
  width: 448px;
  height: 40px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

#text-form {
  font-family: var(--Roboto);
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-top: 4px;
  padding-top: 12px;
  padding-left: 16px;
  color: rgba(117, 117, 117, 0.5);
}

.modal input {
  padding-left: 35px;
}

.modal input:hover,
#text-form:hover,
.modal input:focus,
#text-form:focus {
  border: 1px solid var(--brand-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icons {
  position: absolute;
  pointer-events: none;
  fill: rgb(33, 33, 33);
}

.modal input:hover + svg,
.modal input:focus + svg {
  fill: var(--brand-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy-text::before {
  position: absolute;
  display: block;
  margin-left: -22px;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid black;
  border-radius: 2px;
}

.modal-form-policy-text {
  font-family: var(--Roboto);
  color: #757575;
  margin-top: 20px;
  padding-left: 40px;
  font-size: 14px;
}

.modal-form-policy:checked + .modal-form-policy-text::before {
  background-color: var(--brand-color);
  border: 3px solid var(--brand-color);
  background-image: url("../images/Vector.svg");
}

.modal-form-policy-text a {
  color: var(--brand-color);
}

.modal-form-policy-text a:hover,
.modal-form-policy-text a:focus {
  color: #0e395b;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.__circle {
  width: 44px;
  height: 44px;
  display: flex;
  margin-left: 32px;
  margin-bottom: 30px;
  align-items: center;
  gap: 10px;
}

.social-icons {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #afb1b8;
}

.social-icons:hover,
.icons-footer:hover,
.social-icons:focus svg,
.icons-footer:focus svg {
  background-color: #2196f3;
  fill: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons:hover .social-icons a:focus,
.icons-footer:hover .social-icons a:focus,
.social-icons:focus svg .social-icons a:focus,
.icons-footer:focus svg .social-icons a:focus {
  background-color: var(--brand-color);
}

.header {
  display: flex;
  height: 80px;
  border-bottom: 1px solid #ececec;
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 500;
  font-size: 14px;
  font-weight: 500;
}

.header__container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.header__nav {
  display: flex;
  margin-top: 32px;
  padding-left: 93px;
  gap: 46px;
}

li a {
  display: flex;
  text-decoration: none;
  color: #212121;
}
li a:hover, li a:focus {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav--current {
  color: #2196f3;
}
.header__nav--current::before {
  content: "";
  display: block;
  position: absolute;
  width: 53px;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  top: 76px;
  cursor: default;
}

.header__contact {
  display: flex;
  position: absolute;
  gap: 50px;
  margin-left: 878px;
  margin-top: 32px;
}

.header__contact a {
  display: flex;
  align-items: center;
  color: #757575;
  text-decoration: none;
}
.header__contact a .header__icons {
  fill: #757575;
  margin-right: 10px;
}

.header__contact :hover .header__icons,
.header__contact :focus .header__icons {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact a:hover,
.header__contact a:focus {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer {
  background-color: #2f303a;
  height: 252px;
  padding: 55.5px 0;
  font-family: "Roboto", sans-serif;
}

.footer__address {
  margin-left: 15px;
}

.footer__address p {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 9px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1, 71;
}

.footer__contact {
  display: flex;
  text-decoration: none;
  color: hsla(0deg, 0%, 100%, 0.6);
  margin-bottom: 9px;
}
.footer__contact:hover {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contact:focus {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients {
  margin-top: 96px;
}

.our-clients__container {
  display: flex;
  margin-bottom: 92px;
  align-items: center;
  gap: 30px;
}

.our-clients__client {
  fill: #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
}

.our-clients__box {
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.our-clients__box:hover,
.our-clients__box:active,
.our-clients__box:focus {
  border: 1px solid #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients__client:hover,
.our-clients__client:active,
.our-clients__client:focus svg {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-section__background {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-img.jpg");
  height: 600px;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
}

.our-team--gray-section {
  background-color: #f5f4fa;
  margin-top: 94px;
  padding-top: 64px;
}

.our-team ul {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  gap: 30px;
}
.our-team ul li {
  background-color: #ffffff;
  margin-bottom: 94px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team__worker-name {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.our-team__signature {
  font-size: 16px;
  color: #757575;
  text-align: center;
  margin-bottom: 30px;
}

.content-name {
  font-family: var(--Roboto);
  color: var(--text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.content-type ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 94px;
  flex-basis: calc((100% - 370px) / 3);
  margin-right: 15px;
  margin-left: 15px;
}

.content-type h3 {
  padding-left: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
}

.content-type p {
  font-family: var(--Roboto);
  color: var(--text-decoration-color);
  font-size: 16px;
  line-height: 1.875;
  padding-left: 24px;
}

.card-border {
  border: 2px solid var(--button-background-color);
  margin-top: -5px;
}

.overlay-box {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  top: 170px;
  width: 100%;
  height: 100%;
  transform: translateY(125px);
  transition: transform 250ms;
}

.overlay p {
  font-family: var(--Roboto);
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.55;
  color: var(--primary-address-color);
  padding: 49px 45px 49px 24px;
  margin: 0;
}

.project-box:hover .overlay {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-170px);
}

.project-box:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.1607843137), 0px 4px 4px 0px rgba(0, 0, 0, 0.0588235294), 0px 1px 1px 0px rgba(0, 0, 0, 0.1215686275);
}

.what-we-do ul {
  display: flex;
  gap: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.what-we-do__signature {
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  position: relative;
  height: 70px;
  justify-content: center;
  align-items: center;
  bottom: 73px;
}

.our-advantages ul {
  display: flex;
  margin-top: 94px;
  margin-bottom: 94px;
  margin-left: 15px;
  margin-right: 15px;
  gap: 30px;
}

.our-advantages__text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}/*# sourceMappingURL=main.css.map */