.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 images !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity 0.3s;
  transition: 0.3s;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

ul {
  list-style: none;
  margin: 0 0;
  padding: 0;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: hsl(0deg, 0%, 100%);
  text-align: center;
  margin-top: 0%;
  padding-top: 200px;
  margin-bottom: 30px;
}

h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: #212121;
  margin-top: 30px;
}

h2 {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
}

.header__container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__container {
    display: flex;
    max-width: 767px;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .header__container {
    min-width: 768px;
    max-width: 1599px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
  }
}
.modal__container {
  width: 1200px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.slider__container {
  width: 1200px;
  margin: 0 auto;
}

.advantages__container {
  width: 1200px;
  margin: 0 auto;
}

.offer__container {
  width: 1200px;
  margin: 0 auto;
}

.team__container {
  width: 1200px;
  margin: 0 auto;
}

.clients__container {
  width: 1200px;
  margin: 0 auto;
}

.category-buttons__container {
  width: 1200px;
  margin: 0 auto;
}

.portfolio__container {
  width: 1200px;
  margin: 0 auto;
}

.footer__container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.modal__close-btn {
  margin-left: 490px;
  margin-top: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal__close-btn:hover, .modal__close-btn:focus {
  color: #ffffff;
  background-color: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__btn--send {
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 87;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-left: 164px;
  padding: 10px 76px;
  border: none;
  border-radius: 4px;
  background-color: #afb1b8;
  color: #ffffff;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15);
  offset: 0px, 4px;
}
.form__btn--send:hover, .form__btn--send:focus {
  background-color: #2196f3;
  color: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slider__button {
  font-weight: 700;
  font-size: 16px;
  color: #212121;
  line-height: 1.875;
  cursor: pointer;
  background-color: #f5f4fa;
  padding: 10px 41px 10px 42px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  border-radius: 4px;
}
.slider__button:hover, .slider__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__btn--style {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  background-color: #f5f4fa;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  border-style: none;
}
.portfolio__btn--style:hover, .portfolio__btn--style:focus {
  color: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn-positioner {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 94px;
  margin-bottom: 34px;
}

.footer__btn {
  position: absolute;
  width: 200px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border-radius: 4px;
  border-style: none;
  margin-left: 12px;
  font-weight: 700;
  text-align: left;
  padding-left: 42px;
  cursor: pointer;
}
.footer__btn:hover, .footer__btn:focus {
  background-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__logo {
  margin-left: 15px;
  margin-top: 24px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
}
.header__logo span {
  color: rgb(0, 0, 0);
}

.footer__logo {
  margin-top: 24px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
}
.footer__logo span {
  color: rgb(255, 255, 255);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__logo {
    font-size: 24px;
    margin-left: -15px;
    align-items: center;
    padding-left: 15px;
    margin-top: 16px;
  }
}
@media screen and (max-width: 1599px) {
  .header__logo {
    font-size: 26px;
    margin-left: 0;
  }
}
.backdrop {
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.12);
}
.modal form {
  padding-top: 12px;
  margin-left: 40px;
}
.modal__text {
  font-size: 20px;
  text-align: center;
  margin: 0;
  margin-top: 2px;
}
.modal__signup-form label {
  display: flex;
  flex-direction: column;
  color: rgb(117, 117, 117);
  font-size: 12px;
}
.modal input {
  margin-bottom: 10px;
  width: 448px;
  height: 40px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 35px;
}
.modal input:hover, .modal input:focus {
  border: 1px solid #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal input:hover:hover + svg, .modal input:hover:focus + svg, .modal input:focus:hover + svg, .modal input:focus:focus + svg {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__text-form {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-top: 4px;
  margin-bottom: 13px;
  padding-top: 12px;
  padding-left: 16px;
  color: rgba(117, 117, 117, 0.5);
}
.modal__text-form:hover, .modal__text-form:focus {
  border: 1px solid #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icons {
  position: absolute;
  pointer-events: none;
  fill: #212121;
}
.modal__form-policy-text::before {
  position: absolute;
  margin-left: -25px;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid black;
  border-radius: 2px;
}
.modal__form-policy-text {
  color: #757575;
  padding-left: 40px;
  font-size: 14px;
}
.modal__form-policy-text a {
  color: #2196f3;
  text-decoration: underline;
}
.modal__form-policy-text a:hover, .modal__form-policy-text a:focus {
  color: #0e395b;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-policy:checked + .modal__form-policy-text::before {
  background-color: #2196f3;
  border: 3px solid #2196f3;
  background-image: url("../images/Vector.svg");
  fill: #ffffff;
}

.social__circle {
  width: 44px;
  height: 44px;
  display: flex;
  margin-left: 32px;
  margin-bottom: 30px;
  align-items: center;
  gap: 10px;
}
.social__icon, .social__footer--icon {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #afb1b8;
}
.social__icon:hover, .social__footer--icon:hover, .social__icon:focus svg, .social__footer--icon:focus svg {
  background-color: #2196f3;
  fill: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__container {
  width: 44px;
  height: 44px;
  display: flex;
  gap: 10px;
}
.social__footer--icon {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle:hover svg, .menu-toggle:focus svg, .menu-toggle:active svg {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px 32px;
  flex-wrap: wrap;
  background-color: #ffffff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #212121;
}

.mobile-menu {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}
.mobile-menu__contact {
  display: flex;
  flex-direction: column;
  float: left;
}
.mobile-menu__telephone {
  font-size: 34px;
  color: #757575;
  margin-bottom: 32px;
}
.mobile-menu__telephone:hover, .mobile-menu__telephone:focus, .mobile-menu__telephone:active {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__mail {
  color: #757575;
  font-size: 24px;
  margin-bottom: 64px;
}
.mobile-menu__mail:hover, .mobile-menu__mail:focus, .mobile-menu__mail:active {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__socials {
  font-weight: 500;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
}
.mobile-menu__socials a {
  color: #2196f3;
}
.mobile-menu__socials ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.mobile-menu .link {
  font-size: 500;
  font-size: 40px;
  display: block;
  padding: 10px;
  color: #212121;
  text-decoration: none;
}
.mobile-menu .link:hover, .mobile-menu .link:focus, .mobile-menu .link:active {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 767px) {
  .menu-toggle {
    display: none;
  }
  .menu-container.is-open {
    display: none;
  }
}
@media screen and (min-width: 767px) and (min-width: 767px) {
  .menu-toggle {
    display: none;
  }
  .menu-container.is-open {
    display: none;
  }
  .menu-container {
    display: none;
  }
}
.header {
  display: flex;
  height: 80px;
  border-bottom: 1px solid #ececec;
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 500;
  font-size: 14px;
  font-weight: 500;
}
.header__nav {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  padding-left: 93px;
  gap: 46px;
}
.header li a {
  color: #212121;
}
.header li a:hover, .header li a:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
  fill: #2196f3;
}
.header .page--current {
  color: #2196f3;
}
.header .page--current::before {
  content: "";
  display: block;
  position: absolute;
  width: 53px;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  top: 76px;
  cursor: default;
}
.header__contact {
  display: flex;
  gap: 50px;
  margin-left: 378px;
}
.header__contact a {
  display: flex;
  align-items: center;
  color: #757575;
}
.header__contact a .header__icons {
  fill: #757575;
  margin-right: 10px;
}
.header__contact :hover .header__icons, .header__contact :focus .header__icons {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
  fill: #2196f3;
}
.header__contact a:hover, .header__contact a:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
  fill: #2196f3;
}
.header__menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .header {
    display: flex;
    height: 60px;
  }
  .header__nav {
    display: none;
  }
  .header__contact {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .header {
    display: flex;
    padding: 0;
  }
  .header__nav {
    padding: 0;
  }
  .header__contact {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
    margin-left: 0;
  }
}
.footer {
  background-color: #2f303a;
  height: 259px;
  padding: 55.5px 0;
  font-family: "Roboto", sans-serif;
}
.footer p {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  margin-top: 7px;
  margin-bottom: 14px;
  padding-left: 0;
}
.footer__address {
  margin-left: 15px;
}
.footer__address p {
  padding-left: 0;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 9px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1, 17;
  font-weight: 400;
}
.footer__contact {
  display: flex;
  text-decoration: none;
  color: hsla(0deg, 0%, 100%, 0.6);
  margin-bottom: 9px;
  font-size: 14px;
}
.footer__contact:hover, .footer__contact:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
  fill: #2196f3;
}
.footer__join-us {
  margin-left: 70px;
  width: 208px;
}
.footer__newsletter {
  padding-left: 78px;
  width: 572px;
}
.footer__newsletter svg {
  position: absolute;
  fill: #ffffff;
  pointer-events: none;
}
.footer__form {
  border-radius: 4px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--background-color);
  color: rgba(255, 255, 255, 0.3);
  box-shadow: rgba(0, 0, 0, 0.15);
  offset: 0px, 4px;
  padding-left: 16px;
}
.footer__form:hover, .footer__form:focus {
  border: 1px solid #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients--display {
  display: flex;
  margin-bottom: 92px;
  align-items: center;
  gap: 30px;
}
.clients__icon {
  display: flex;
  fill: #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
}
.clients__icon:hover, .clients__icon:active, .clients__icon:focus svg {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
  fill: #2196f3;
}
.clients__box {
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients__box:hover, .clients__box:active, .clients__box:focus {
  border: 1px solid #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slider {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-img.jpg");
  height: 600px;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .slider {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mHeader-img.jpg");
    width: 480px;
    height: 400px;
    background-color: #2f303a;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (max-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (max-width: 480px) and (min-resolution: 2dppx) {
  .slider {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mHeader-img@2x.jpg");
    background-size: contain;
    background-color: #2f303a;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.team {
  background-color: #f5f4fa;
  margin-top: 94px;
  padding-top: 64px;
  margin-bottom: 94px;
}
.team ul {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  gap: 30px;
}
.team li {
  background-color: #ffffff;
  margin-bottom: 94px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__member {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
.team__signature {
  font-size: 16px;
  color: #757575;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 0;
  padding-top: 0;
  padding-left: 0;
}

.portfolio__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  padding-left: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
}
.portfolio__grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 94px;
  flex-basis: calc((100% - 370px) / 3);
  margin-right: 15px;
  margin-left: 15px;
}
.portfolio p {
  color: #757575;
  font-size: 16px;
  line-height: 1.875;
  padding-left: 24px;
}
.portfolio__card-border {
  border: 2px solid #f5f4fa;
  margin-top: -5px;
}
.portfolio__positioner--overlay {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}
.portfolio--animation {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  top: 170px;
  width: 100%;
  height: 100%;
  transform: translateY(125px);
  transition: transform 250ms;
}
.portfolio--animation p {
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  padding: 49px 45px 49px 24px;
  margin: 0;
}
.portfolio__boxes:hover .portfolio--animation {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-170px);
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.1607843137), 0px 4px 4px 0px rgba(0, 0, 0, 0.0588235294), 0px 1px 1px 0px rgba(0, 0, 0, 0.1215686275);
}
.portfolio__boxes:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.1607843137), 0px 4px 4px 0px rgba(0, 0, 0, 0.0588235294), 0px 1px 1px 0px rgba(0, 0, 0, 0.1215686275);
}

.offer ul {
  display: flex;
  gap: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
.offer__thumb {
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  position: relative;
  height: 70px;
  justify-content: center;
  align-items: center;
  bottom: 73px;
}
.offer__thumb p {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  padding-left: 0;
}

.advantages ul {
  display: flex;
  margin-top: 94px;
  margin-bottom: 94px;
  margin-left: 15px;
  margin-right: 15px;
  gap: 30px;
}
.advantages ul p {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  padding-left: 0;
}/*# sourceMappingURL=main.css.map */