body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
}

:root {
    --brand-color: #2196f3;
    --text-color: #212121;
    --text-decoration-color: #757575;
    --body-font-size: 700;
    --background-color: #2f303a;
    --logo-black-color: #000000;
    --title-white-color: hsla(0, 0%, 100%, 1);
    --button-background-color: #f5f4fa;
    --button-hover-white: #ffffff;
    --gray-section-color: #f5f4fa;
    --primary-address-color: #ffffff;
    --secondary-address-color: hsla(0, 0%, 100%, 0.6);
    --Roboto: "Roboto", sans-serif;
    --Raleway: "Raleway", sans-serif;
    --Img-Overlay: rgba(47, 48, 58, 0.4);
    --Icon-Color: #afb1b8;
    --footer-icon-background: rgba(255, 255, 255, 0.1);
}

.container-nav {
    display: flex;
    width: 1200px;
    height: 80px;
    margin: 0 auto;
}

.container-footer {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header-positioning {
    display: flex;
    height: 80px;
    border-bottom: 1px solid #ececec;
}

.logo {
    text-decoration: none;
    font-family: var(--Raleway);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    color: var(--logo-black-color);
    margin-top: 24px;
    margin-left: 15px;
    margin-bottom: 25px;
    margin-right: 93px;
}

span {
    color: var(--brand-color);
}

.navigation .nav-position {
    display: flex;
    gap: 49px;
    padding-top: 32px;
}

.navigation a {
    font-family: var(--Roboto);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    color: var(--text-color);
}

ul {
    list-style: none;
    margin: 0 0;
    padding: 0;
}

.navigation .current-link {
    color: var(--brand-color);
}

.current-link::after {
    content: "";
    display: block;
    position: absolute;
    width: 53px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--brand-color);
    top: 76px;
    cursor: default;
}

.navigation :hover {
    color: var(--brand-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation :focus {
    color: var(--brand-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation :active {
    color: var(--brand-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contact {
    display: flex;
    position: absolute;
    margin-left: 878px;
    padding-top: 32px;
    gap: 50px;
}

.contacts {
    font-family: var(--Roboto);
    color: var(--text-decoration-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    text-decoration: none;
}

.contacts:hover,
.mail-icon:hover,
.smartphone-icon:hover {
    color: var(--brand-color);
    fill: var(--brand-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:focus,
.mail-icon:focus,
.smartphone-icon:focus {
    color: var(--brand-color);
    fill: var(--brand-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-background {
    background-image: linear-gradient(var(--Img-Overlay), var(--Img-Overlay)),
        url("../images/background-img.jpg");
    background-repeat: no-repeat;
    background-color: var(--background-color);
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    margin-top: 0;
    gap: 30px;
}

h1 {
    font-family: var(--Roboto);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--title-white-color);
    text-align: center;
    margin-top: 0%;
    padding-top: 200px;
    margin-bottom: 30px;
}

.button-studio {
    font-family: var(--Roboto);
    font-weight: var(--body-font-size);
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.875;
    cursor: pointer;
    background-color: var(--button-background-color);
    padding: 10px 41px 10px 42px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    border-radius: 4px;
}

.button:hover {
    color: var(--button-hover-white);
    background-color: var(--brand-color);
    border-color: var(--brand-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus {
    color: var(--button-hover-white);
    background-color: var(--brand-color);
    border-color: var(--brand-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-gray {
    background-color: var(--gray-section-color);
}

.section-title {
    font-family: var(--Roboto);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.what-we-do-section-pictures ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 94px;
    margin-right: 215px;
    margin-left: 215px;
}

.our-team-section {
    font-family: var(--Roboto);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    width: 209px;
    padding-top: 94px;
    padding-bottom: 50px;
}

.our-team-boxes ul {
    display: flex;
}

.footer-style {
    background-color: var(--background-color);
    height: 252px;
    padding: 55.5px 0;
}

#address {
    font-family: var(--Roboto);
    color: var(--primary-address-color);
    line-height: 1.17;
    padding-left: 15px;
}

#address p {
    margin: 0;
    margin-top: 20px;
}

#address .footer-contacts {
    color: var(--secondary-address-color);
    display: inline-flex;
    margin-top: 9px;
    text-decoration: none;
}

#address .footer-contacts:hover {
    color: var(--brand-color);
}

#address .footer-contacts:focus {
    color: var(--brand-color);
}

.lorem-ipsum-boxes ul {
    display: flex;
    width: 1170px;
    justify-content: center;
    gap: 30px;
    margin-top: 94px;
    margin-bottom: 94px;
}

h3 {
    font-family: var(--Roboto);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    color: var(--text-color);
    margin-top: 30px;
}

.text-container p {
    font-family: var(--Roboto);
    color: var(--text-decoration-color);
    font-size: 14px;
    line-height: 1.71;
}

.list-item {
    font-family: var(--Roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.signature {
    font-family: var(--Roboto);
    color: var(--text-decoration-color);
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 30px;
}

.content-name {
    font-family: var(--Roboto);
    color: var(--text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.content-type ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 94px;
    flex-basis: calc((100% - 370px) / 3);
    margin-right: 15px;
    margin-left: 15px;
}

.content-type h3 {
    padding-left: 24px;
    margin-top: 20px;
    margin-bottom: 4px;
}

.content-type p {
    font-family: var(--Roboto);
    color: var(--text-decoration-color);
    font-size: 16px;
    line-height: 1.875;
    padding-left: 24px;
}

.overlay-box {
    position: relative;
    width: 370px;
    height: 294px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    background-color: rgba(33, 150, 243, 0.9);
    top: 170px;
    width: 100%;
    height: 100%;

    transform: translateY(125px);
    transition: transform 250ms;
}

.overlay p {
    font-family: var(--Roboto);
    font-weight: 400px;
    font-size: 18px;
    line-height: 1.55;
    color: var(--primary-address-color);
    padding: 49px 45px 49px 24px;
    margin: 0;
}

.project-box:hover .overlay {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(-170px);
}

.project-box:hover {
    box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
        0px 1px 1px 0px #0000001f;
}

.workers-boxes {
    background-color: var(--primary-address-color);
    margin-bottom: 94px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.workers-boxes:nth-child(1) {
    margin-left: 15px;
}

.workers-boxes:nth-child(2) {
    margin-left: 23px;
}

.workers-boxes:nth-child(3) {
    margin-left: 37px;
}

.workers-boxes:nth-child(4) {
    margin-left: 30px;
}

.footer-logo {
    text-decoration: none;
    font-family: var(--Raleway);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    color: var(--primary-address-color);
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 60px;
}

.button-portfolio {
    font-family: var(--Roboto);
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.875;
    cursor: pointer;
    background-color: var(--button-background-color);
    padding: 6px 22px 6px 22px;
    border-radius: 4px;
    border-style: none;
}

.button-positioner {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-top: 94px;
    margin-bottom: 34px;
}

.card-border {
    border: 2px solid var(--button-background-color);
    margin-top: -5px;
}

.mail-icon {
    fill: var(--text-decoration-color);
    align-items: center;
    display: flex;
}

.smartphone-icon {
    fill: var(--text-decoration-color);
    align-items: center;
    display: flex;
}

.header-icons {
    margin-right: 10px;
}

.lorem-vectors {
    display: block;
}

.circle {
    width: 44px;
    height: 44px;
    display: flex;
    margin-left: 32px;
    margin-bottom: 30px;
    align-items: center;
    gap: 10px;
}

.social-icons {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-address-color);
    fill: var(--Icon-Color);
}

.social-icons:hover,
.icons-footer:hover,
.social-icons:focus svg,
.icons-footer:focus svg {
    background-color: var(--brand-color);
    fill: var(--primary-address-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons a:focus {
    background-color: var(--brand-color);
}

.our-clients-section {
    margin-top: 96px;
}

.clients-container {
    display: flex;
    margin-bottom: 92px;
    align-items: center;
    align-content: center;
    gap: 30px;
}

.clients {
    display: flex;
    fill: var(--Icon-Color);
    background-color: var(--primary-address-color);
    border-radius: 4px;
    width: 170px;
    height: 92px;
    cursor: pointer;
}

.client-box {
    border: 1px solid var(--Icon-Color);
    border-radius: 4px;
}

.client-box:hover,
.client-box:active,
.client-box:focus {
    border: 1px solid var(--brand-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients:hover,
.clients:active,
.clients:focus svg {
    fill: var(--brand-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-us-container {
    font-family: var(--Roboto);
    color: var(--primary-address-color);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 50px;
}

.circle-footer {
    display: flex;
    gap: 10px;
}

.icons-footer {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--footer-icon-background);
    fill: var(--primary-address-color);
}

.section-what-we-do-signature {
    display: flex;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--primary-address-color);
    font-family: var(--Roboto);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    position: relative;
    padding-top: 27px;
    padding-bottom: 27px;
    width: auto;
    justify-content: center;
    bottom: 73px;
}

.section-what-we-do-signature p {
    margin: 0;
    position: relative;
}

.modal-circle {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
}

.modal-button {
    fill: #000000;
}

.modal-container {
    display: flex;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.modal {
    background-color: var(--primary-address-color);
    width: 528px;
    height: 581px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.12);
}

.close-btn {
    margin-left: 490px;
    margin-top: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--primary-address-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity 0.3s;
    transition: 0.3s;
}

.newsletter {
    margin-left: 78px;
}

.newsletter p {
    font-family: var(--Roboto);
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1, 14;
}

.newsletter input {
    border-radius: 4px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: var(--background-color);
    color: rgba(255, 255, 255, 0.3);
    box-shadow: rgba(0, 0, 0, 0.15);
    offset: 0px, 4px;
    padding-left: 16px;
}

.newsletter button {
    width: 200px;
    height: 50px;
    background-color: var(--footer-icon-background);
    color: var(--primary-address-color);
    border-radius: 4px;
    border-style: none;
    margin-left: 12px;
    font-weight: 700;
    text-align: left;
    padding-left: 42px;
    cursor: pointer;
}

.newsletter svg {
    fill: var(--primary-address-color);
    position: absolute;
    pointer-events: none;
}

.newsletter button:hover,
.newsletter svg:hover,
.newsletter button:focus,
.newsletter svg:focus {
    background-color: var(--brand-color);
    color: rgba(255, 255, 255, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.newsletter-form:hover,
.newsletter-form:focus {
    border: 1px solid var(--brand-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.modal h2 {
    font-size: 20px;
    text-align: center;
    margin: 0;
    margin-top: 2px;
}

.modal form {
    padding-top: 12px;
    margin-left: 40px;
}

#signup-form label {
    display: flex;
    flex-direction: column;
    color: rgba(117, 117, 117, 1);
    font-family: var(--Roboto);
    font-size: 12px;
}

.modal input {
    margin-bottom: 10px;
    width: 448px;
    height: 40px;
    margin-top: 4px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
}

#text-form {
    font-family: var(--Roboto);
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    margin-top: 4px;
    padding-top: 12px;
    padding-left: 16px;
    color: rgba(117, 117, 117, 0.5);
}

.modal input {
    padding-left: 35px;
}

.modal input:hover,
#text-form:hover,
.modal input:focus,
#text-form:focus {
    border: 1px solid var(--brand-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icons {
    position: absolute;
    pointer-events: none;
    fill: rgba(33, 33, 33, 1);
}

.modal input:hover + svg,
.modal input:focus + svg {
    fill: var(--brand-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
    display: flex;
    width: 100%;
    flex-direction: column;
}


.modal-form-policy-text::before {
    position: absolute;
    display: block;
    margin-left: -22px;
    content: "";
    width: 16px;
    height: 16px;
    border: 2px solid black;
    border-radius: 2px;
    
    
}

.modal-form-policy-text {
    font-family: var(--Roboto);
    color: #757575;
    margin-top: 20px;
    padding-left: 40px;
    font-size: 14px;
}

.modal-form-policy:checked + .modal-form-policy-text::before {
    background-color: var(--brand-color);
    border: 3px solid var(--brand-color);
    background-image: url("../images/Vector.svg");
    
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 images !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.btn-send {
    font-family: var(--Roboto);
    font-weight: 700;
    font-size: 16px;
    line-height: 1,87;
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-left: 164px;
    padding: 10px 76px;
    border: none;
    border-radius: 4px;
    background-color: var(--Icon-Color);
    color: var(--primary-address-color);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15);
    offset: 0px, 4px;
}

.btn-send:hover,
.btn-send:focus {
    background-color: var(--brand-color);
    color: var(--primary-address-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy-text a {
    color: var(--brand-color);
}