body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
}

:root {
    --brand-color: #2196f3;
    --text-color: #212121;
    --text-decoration-color: #757575;
    --body-font-size: 700;
    --background-color: #2f303a;
    --logo-black-color: #000000;
    --title-white-color: hsla(0, 0%, 100%, 1);
    --button-background-color: #f5f4fa;
    --button-hover-white: #ffffff;
    --gray-section-color: #f5f4fa;
    --primary-address-color: #ffffff;
    --secondary-address-color: hsla(0, 0%, 100%, 0.6);
    --Roboto: "Roboto", sans-serif;
    --Raleway: "Raleway", sans-serif;
}

.header-positioning {
    display: flex;
    height: 80px;

}

.logo {
    text-decoration: none;
    font-family: var(--Raleway);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    color: var(--logo-black-color);
    padding-top: 24px;
    padding-left: 215px;
    padding-bottom: 25px;
    margin-right: 93px;

}

span {
    color: var(--brand-color);
}

.navigation .nav-position {
display: flex;
gap: 49px;
margin-right: 371px;
padding-top: 32px;

}

.navigation a {
    font-family: var(--Roboto);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    color: var(--text-color);
}

ul {
    list-style: none;
    margin: 0 0;
    padding: 0;
}

/* .markers .markers-none {
    list-style-type: none;
    list-style: none;
} */

.navigation .current-link {
    color: var(--brand-color);
}

.navigation :hover {
    color: var(--brand-color);
}

.navigation :focus {
    color: var(--brand-color);
}

.navigation :active {
    color: var(--brand-color);
}

.nav-contact{
    display: flex;
    padding-top: 32px;
    gap: 50px;


}

.contacts {
    font-family: var(--Roboto);
    color: var(--text-decoration-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    text-decoration: none;
    /* border: 1px solid black; */
}

.contacts:hover {
    color: var(--brand-color);
}

.contacts:focus {
    color: var(--brand-color);
}

.title {
    font-family: var(--Roboto);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--title-white-color);
    background-color: var(--background-color);
}

.button {
    font-family: var(--Roboto);
    font-weight: var(--body-font-size);
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.875;
    cursor: pointer;
    background-color: var(--button-background-color);
}

.button:hover {
    color: var(--button-hover-white);
    background-color: var(--brand-color);
}

.button:focus {
    color: var(--button-hover-white);
    background-color: var(--brand-color);
}

.section-gray {
    background-color: var(--gray-section-color);
    width: 1600px;
}

.section-title {
    font-family: var(--Roboto);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.footer-style {
    background-color: var(--background-color);
}

.address {
    font-family: var(--Roboto);
    color: var(--primary-address-color);
    line-height: 1.17;
}

.address .footer-contacts {
    color: var(--secondary-address-color);
}

.address .footer-contacts:hover {
    color: var(--brand-color);
}

.address .footer-contacts:focus {
    color: var(--brand-color);
}

.text-container h3 {
    font-family: var(--Roboto);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    color: var(--text-color);
}

.text-container p {
    font-family: var(--Roboto);
    color: var(--text-decoration-color);
    font-size: 14px;
    line-height: 1.71;
}

.list-item {
    font-family: var(--Roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
}

.signature {
    font-family: var(--Roboto);
    color: var(--text-decoration-color);
    font-size: 16px;
    line-height: 1.17;
}

.content-name {
    font-family: var(--Roboto);
    color: var(--text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.content-type p {
    font-family: var(--Roboto);
    color: var(--text-decoration-color);
    font-size: 16px;
    line-height: 1.875;
}
