body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
}

:root {
    --brand-color: #2196f3;
    --text-color: #212121;
    --text-decoration-color: #757575;
    --body-font-size: 700;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
}

.navigation {
    font-weight: 500;
    font-size: 14px;
}

.navigation :hover {
    color: var(--brand-color);
}

.navigation :focus {
    color: var(--brand-color);
}

.contacts {
    color: var(--text-decoration-color);
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

.contacts:hover {
    color: var(--brand-color);
}

.contacts:focus {
    color: var(--brand-color);
}

.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: hsla(0, 0%, 100%, 1);
}

.button {
    font-weight: var(--body-font-size);
    font-size: 16px;
    color: hsla(0, 0%, 100%, 1);
}

.button:hover {
    color: var(--brand-color);
}

.button:focus {
    color: var(--brand-color);
}

.address {
    color: #ffffff;
}

.address > a {
    color: hsla(0, 0%, 100%, 0.6);
}

.address > a:hover {
    color: var(--brand-color);
}

.address > a:focus {
    color: var(--brand-color);
}


