body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
}

:root {
    --brand-color: #2196f3;
    --text-color: #212121;
    --text-decoration-color: #757575;
    --body-font-size: 700;
    --background-color: #2f303a;
    --logo-black-color: #000000;
    --title-white-color: hsla(0, 0%, 100%, 1);
    --button-background-color: #f5f4fa;
    --button-hover-white: #ffffff;
    --gray-section-color: #f5f4fa;
    --primary-address-color: #ffffff;
    --secondary-address-color: hsla(0, 0%, 100%, 0.6);
    --Roboto: "Roboto", sans-serif;
    --Raleway: "Raleway", sans-serif;
}

.container-nav {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.container {
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
}

.header-positioning {
    display: flex;
    height: 80px;
    border-bottom: 1px solid #ececec;
}

.logo {
    text-decoration: none;
    font-family: var(--Raleway);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    color: var(--logo-black-color);
    margin-top: 24px;
    margin-left: 15px;
    margin-bottom: 25px;
    margin-right: 93px;
}

span {
    color: var(--brand-color);
}

.navigation .nav-position {
    display: flex;
    gap: 49px;
    margin-right: 371px;
    padding-top: 32px;
}

.navigation a {
    font-family: var(--Roboto);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    color: var(--text-color);
}

ul {
    list-style: none;
    margin: 0 0;
    padding: 0;
}

.navigation .current-link {
    color: var(--brand-color);
}

.navigation :hover {
    color: var(--brand-color);
}

.navigation :focus {
    color: var(--brand-color);
}

.navigation :active {
    color: var(--brand-color);
}

.nav-contact {
    display: flex;
    padding-top: 32px;
    gap: 50px;
    padding-right: 27px;
}

.contacts {
    font-family: var(--Roboto);
    color: var(--text-decoration-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    text-decoration: none;
}

.contacts:hover {
    color: var(--brand-color);
}

.contacts:focus {
    color: var(--brand-color);
}

.title-background {
    background-color: var(--background-color);
    height: 600px;
    margin-top: 0;
}

h1 {
    font-family: var(--Roboto);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--title-white-color);
    text-align: center;
    margin-top: 0%;
    padding-top: 200px;
    margin-bottom: 30px;

}

.button {
    font-family: var(--Roboto);
    font-weight: var(--body-font-size);
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.875;
    cursor: pointer;
    background-color: var(--button-background-color);
    padding: 10px 41px 10px 42px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    border-radius: 4px;
}

.button:hover {
    color: var(--button-hover-white);
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}

.button:focus {
    color: var(--button-hover-white);
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}

.section-gray {
    background-color: var(--gray-section-color);
}

.section-title {
    font-family: var(--Roboto);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    justify-content: center;
    margin-bottom: 50px;
}

.what-we-do-section-pictures ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 94px;
    margin-right: 215px;
    margin-left: 215px;
}

.our-team-section {
    font-family: var(--Roboto);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    width: 209px;
    padding-top: 94px;
    padding-bottom: 50px;
}

.our-team-boxes ul {
    display: flex;
}

.footer-style {
    background-color: var(--background-color);
    width: 100%;
    height: 252px;
    display: block;
}

#address {
    font-family: var(--Roboto);
    color: var(--primary-address-color);
    line-height: 1.17;
    display: block;
    margin-top: 20px;
    margin-left: 15px;
}

#address .footer-contacts {
    color: var(--secondary-address-color);
    display: block;
}

#address .footer-contacts:hover {
    color: var(--brand-color);
}

#address .footer-contacts:focus {
    color: var(--brand-color);
}

.lorem-ipsum-boxes ul {
    display: flex;
    width: 1170px;
    justify-content: center;
    gap: 30px;
    margin-top: 94px;
    margin-bottom: 94px;
}

h3 {
    font-family: var(--Roboto);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    color: var(--text-color);
}

.text-container p {
    font-family: var(--Roboto);
    color: var(--text-decoration-color);
    font-size: 14px;
    line-height: 1.71;
}

.list-item {
    font-family: var(--Roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.signature {
    font-family: var(--Roboto);
    color: var(--text-decoration-color);
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 30px;
}

.content-name {
    font-family: var(--Roboto);
    color: var(--text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.content-type p {
    font-family: var(--Roboto);
    color: var(--text-decoration-color);
    font-size: 16px;
    line-height: 1.875;
}

.workers-boxes {
    background-color: var(--primary-address-color);
    margin-right: 30px;
    margin-bottom: 94px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    justify-content: center;
}

.workers-boxes:not(:last-child) {
    margin-right: 30px;
}

.footer-style .logo {
    margin-left: 15px;
}