.clients {

&--display {
    display: flex;
    margin-bottom: 92px;
    align-items: center;
    gap: 30px;
}

&__icon {
    display: flex;
    fill: $Icon-Color;
    border-radius: 4px;
    width: 170px;
    height: 92px;

    
    &:hover,
    &:active,
    &:focus svg {
        @include transition($brand-color, $transition)
}
}

&__box {
    border: 1px solid $Icon-Color;
    border-radius: 4px;

    &:hover,
    &:active,
    &:focus {
        border: 1px solid $brand-color;
        transition: $transition;
}
}
}