.our-clients__container{
    display: flex;
    margin-bottom: 92px;
    align-items: center;
    gap: 30px;
}

.our-clients__client {
    display: flex;
    fill: $Icon-Color;
    border-radius: 4px;
    width: 170px;
    height: 92px;
}

.our-clients__box {
    border: 1px solid $Icon-Color;
    border-radius: 4px;
}

.our-clients__box:hover,
.our-clients__box:active,
.our-clients__box:focus {
    border: 1px solid $brand-color;
    transition: $transition;
}

.our-clients__client:hover,
.our-clients__client:active,
.our-clients__client:focus svg {
    @include transition($brand-color, $transition)
}