.footer {
    background-color: $background-color;
    height: 259px;
    padding: 55.5px 0;
    font-family: $Roboto;

    p {
        font-size: 14px;
        font-weight: 700;
        padding-top: 20px;
        color: $primary-address-color;
        margin-bottom: 14px;
        padding-left: 0;
    }

    &__address {
        display: block;
        margin-left: 15px;

    p {
        padding-left: 0;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 9px;
        color: $primary-address-color;
        font-size: 14px;
        line-height: 1,17;
        font-weight: 400;
}
}

&__join-us {
    margin-left: 70px;
    width: 206px;
}

&__contact {
    display: flex;
    text-decoration: none;
    color: $secondary-address-color;
    margin-bottom: 9px;
    font-size: 14px;

&:hover,
&:focus {
    @include transition($brand-color, $transition)
}
}

&__newsletter {
    margin-left: 78px;

svg {
    position: absolute;
    fill: $primary-address-color;
    pointer-events: none;
}
}

&__form {
    border-radius: 4px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: var(--background-color);
    color: rgba(255, 255, 255, 0.3);
    box-shadow: rgba(0, 0, 0, 0.15);
    offset: 0px, 4px;
    padding-left: 16px;

&:hover,
&:focus {
    border: 1px solid $brand-color;
    transition: $transition;
}
}
}

@media screen and (min-width:320px) and (max-width: 767px) {
    .footer {
        padding-top: 60px;
        height: 603px;
        width: 100%;
        display: flex;
        flex-direction: column;

        p {
            margin-top: 0;
            padding-top: 0;
            padding-bottom: 20px;
            margin-bottom: 0;
        }

        &__address {
            text-align: center;

            p {
                margin: 0;
                padding: 0;
                margin-top: 20px;
                margin-bottom: 8px;
            }
        }

        &__contact {
            display: block;
            text-align: center;
            
        }

        &__join-us {
            text-align: center;
            width: 100%;
            margin-left: 0;
            padding-top: 0;
            margin-top: 60px;
        }

        &__newsletter {
            text-align: center;
            margin-left: 0;
            margin-top: 0;
        }

        &__form {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}

@media screen and (min-width:768px) and (max-width:1200px) {
.footer {
    display: flex;
    height: 463px; 
    flex-wrap: wrap;

    p {
        display: block;
        text-align: center;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 20px;
        margin-bottom: 0;
    }

    &__contact {
        display: block;
        text-align: center;
    }

    &__address {
        display: block;
        height: 130px;
        width: 200px;
        text-align: center;
        margin-left: 90px;

        p {
            width: 240px;
            margin: 0;
            padding: 0;
            margin-top: 20px;
            margin-bottom: 8px;
        }
    }
    &__join-us {
        display: flex;
        align-self: flex-start;
        flex-direction: column;
        margin-right: 100px;
        margin-left: 60px;
        p {
            width: 210px;
        }
    
    }

    &__newsletter {
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    width: 450px;
   margin-left: 150px;
}
    &__form {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        width: 450px;
    }
}
}