footer {
    background-color: $background-color;
    height: 252px;
    padding: 55.5px 0;
    font-family: $Roboto;

    p {
        font-size: 14px;
        margin-top: 7px;
        color: $primary-address-color;
        font-weight: 700;
        margin-bottom: 20px;
    }
}

.footer__address {
    margin-left: 15px;

    p {
        margin: 0;
        margin-top: 20px;
        margin-bottom: 9px;
        color: $primary-address-color;
        font-size: 14px;
        line-height: 1,17;
}
}

.footer__contact {
    display: flex;
    text-decoration: none;
    color: $secondary-address-color;
    margin-bottom: 9px;
    font-size: 14px;

    &:hover {
        color: $brand-color;
        transition: $transition;
    }
}

.footer__contact:focus {
    color: $brand-color;
    transition: $transition;    
}

.footer__join-us {
    margin-left: 70px;
    width: 208px;
}

.footer__newsletter {
    padding-left: 78px;
    width: 572px;
}

.newsletter__form {
    border-radius: 4px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: var(--background-color);
    color: rgba(255, 255, 255, 0.3);
    box-shadow: rgba(0, 0, 0, 0.15);
    offset: 0px, 4px;
    padding-left: 16px;

    &:hover,
    &:focus {
        border: 1px solid $brand-color;
        transition: $transition;
    }
}

.newsletter__icon {
    position: absolute;
    fill: $primary-address-color;
    pointer-events: none;
}

.footer__btn {
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: $footer-icon-background;
    color: $primary-address-color;
    border-radius: 4px;
    border-style: none;
    margin-left: 12px;
    font-weight: 700;
    text-align: left;
    padding-left: 42px;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: $brand-color;
        transition: $transition;
    }
}


// .footer-style {
//     background-color: var(--background-color);
//     height: 252px;
//     padding: 55.5px 0;
// }

// #address {
//     font-family: var(--Roboto);
//     color: var(--primary-address-color);
//     line-height: 1.17;
//     padding-left: 15px;
// }

// #address p {
//     margin: 0;
//     margin-top: 20px;
// }

// #address .footer-contacts {
//     color: var(--secondary-address-color);
//     display: inline-flex;
//     margin-top: 9px;
//     text-decoration: none;
// }

// #address .footer-contacts:hover {
//     color: var(--brand-color);
// }

// #address .footer-contacts:focus {
//     color: var(--brand-color);
// }

// .join-us-container {
//     font-family: var(--Roboto);
//     color: var(--primary-address-color);
//     font-weight: 700;
//     text-transform: uppercase;
//     font-size: 14px;
//     margin-left: 50px;
// }

// .newsletter {
//     margin-left: 78px;
// }

// .newsletter p {
//     font-family: var(--Roboto);
//     color: rgba(255, 255, 255, 1);
//     font-size: 14px;
//     font-weight: 700;
//     text-transform: uppercase;
//     line-height: 1, 14;
// }

// .newsletter input {
//     border-radius: 4px;
//     width: 358px;
//     height: 50px;
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     background-color: var(--background-color);
//     color: rgba(255, 255, 255, 0.3);
//     box-shadow: rgba(0, 0, 0, 0.15);
//     offset: 0px, 4px;
//     padding-left: 16px;
// }

// .newsletter button {
//     width: 200px;
//     height: 50px;
//     background-color: var(--footer-icon-background);
//     color: var(--primary-address-color);
//     border-radius: 4px;
//     border-style: none;
//     margin-left: 12px;
//     font-weight: 700;
//     text-align: left;
//     padding-left: 42px;
//     cursor: pointer;
// }

// .newsletter svg {
//     fill: var(--primary-address-color);
//     position: absolute;
//     pointer-events: none;
// }

// .newsletter button:hover,
// .newsletter svg:hover,
// .newsletter button:focus,
// .newsletter svg:focus {
//     background-color: var(--brand-color);
//     color: rgba(255, 255, 255, 1);
//     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .newsletter-form:hover,
// .newsletter-form:focus {
//     border: 1px solid var(--brand-color);
//     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
// }
