.header {
    display: flex;
    height: 80px;
    border-bottom: 1px solid #ececec;
    font-family: $Roboto;
    color: $text-color;
    font-size: 500;
    font-size: 14px;
    font-weight: 500;
}

.header__nav {
        display: flex;
        margin-top: 32px;
        padding-left: 93px;
        gap: 46px;
    }

li a {
    color: $text-color;

    &:hover,
    &:focus {
        @include transition($brand-color, $transition)
    }
}

.header__nav--current {
    color: $brand-color;

    &::before {
    content: "";
    display: block;
    position: absolute;
    width: 53px;
    height: 4px;
    border-radius: 2px;
    background-color: $brand-color;
    top: 76px;
    cursor: default;
    }
}

.header__contact {
    display: flex;
    position: absolute;
    gap: 50px;
    margin-left: 878px;
    margin-top: 32px;
}

.header__contact a {
    display: flex;
    align-items: center;
    color: $text-decoration-color;

    & .header__icons {
        fill: $text-decoration-color;
        margin-right: 10px;
}
}

.header__contact :hover .header__icons,
.header__contact :focus .header__icons {
    @include transition($brand-color, $transition);
}

.header__contact a:hover,
.header__contact a:focus {
    @include transition($brand-color, $transition);
}