.header {
    display: flex;
    height: 80px;
    border-bottom: 1px solid #ececec;
    font-family: $Roboto;
    color: $text-color;
    font-size: 500;
    font-size: 14px;
    font-weight: 500;

    &__nav {
        display: flex;
        flex-direction: row;
        margin-top: 32px;
        padding-left: 93px;
        gap: 46px;
    }

    li a {
    color: $text-color;

        &:hover,
        &:focus {
            @include transition($brand-color, $transition)
        }
}

    & .page--current {
        color: $brand-color;

        &::before {
        content: "";
        display: block;
        position: absolute;
        width: 53px;
        height: 4px;
        border-radius: 2px;
        background-color: $brand-color;
        top: 76px;
        cursor: default;
        }
        }

    &__contact {
    display: flex;
    gap: 50px;
    margin-left: 378px;

    & a {
        display: flex;
        align-items: center;
        color: $text-decoration-color;
    
        & .header__icons {
            fill: $text-decoration-color;
            margin-right: 10px; 
    }
    }
}
    &__contact :hover &__icons,
    &__contact :focus &__icons {
         @include transition($brand-color, $transition);
}
    &__contact a:hover,
    &__contact a:focus {
        @include transition($brand-color, $transition);
    }

    &__menu {
        display: none;
    }
    }

        @media screen and (max-width: 767px) {
            .header {
                display: flex;
                height: 60px;
            
            &__nav {
                padding: 0;
                margin: 0;

                li {
                    display: none;
                }
            }
            &__contact {
                display: none;
            }
          }
        }

        @media screen and (min-width:768px) and (max-width:1200px) {
          .header {
            display: flex;
            padding: 0;

            &__nav {
                gap: 60px;
                padding-left: 0;
                align-content: flex-start;
            }

            &__contact {
              display: flex;
              flex-direction: column;
              margin-top: 20px;
              gap: 10px;
            margin-left: 0;
            }
          }
        }