.header {
    display: flex;
    height: 80px;
    border-bottom: 1px solid #ececec;
    font-family: $Roboto;
    color: $text-color;
    font-size: 500;
    font-size: 14px;
    font-weight: 500;

    &__nav {
        display: flex;
        flex-direction: row;
        margin-top: 32px;
        padding-left: 93px;
        gap: 46px;
    }

    li a {
    color: $text-color;

        &:hover,
        &:focus {
            @include transition($brand-color, $transition)
        }
}

    & .page--current {
        color: $brand-color;

        &::before {
        content: "";
        display: block;
        position: absolute;
        width: 53px;
        height: 4px;
        border-radius: 2px;
        background-color: $brand-color;
        top: 76px;
        cursor: default;
        }
        }

    &__contact {
    display: flex;
    gap: 50px;
    margin-left: 378px;

    & a {
        display: flex;
        align-items: center;
        color: $text-decoration-color;
    
        & .header__icons {
            fill: $text-decoration-color;
            margin-right: 10px; 
    }
    }
}
    &__contact :hover &__icons,
    &__contact :focus &__icons {
         @include transition($brand-color, $transition);
}
    &__contact a:hover,
    &__contact a:focus {
        @include transition($brand-color, $transition);
    }

    &__menu {
        display: none;
    }
    }

        @media screen and (max-width: 480px) {
            .header {
                display: flex;
                
                height: 60px;
                
            }

            .header__nav {
                display: none;
            }

            .header__contact {
                display: none;
            }

        }
  
        .menu-toggle {
          min-height: 40px;
          min-width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0;
          padding: 0;
          background-color: transparent;
          cursor: pointer;
          border: none;
          border-radius: 50%;
          outline: none;
        }
          
          @media (min-width: 768px) {
            .menu-toggle {
              display: none;
            }
          }
          
          .menu-toggle:hover,
          .menu-toggle:focus {
            background-color: rgba(0, 0, 0, 0.1);
          }
          
          .menu-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            padding: 32px;
            background-color: #3f51b5;
            z-index: 999;
          
            transform: translateX(100%);
            transition: transform 250ms ease-in-out;
          }
          
          .menu-container.is-open {
            transform: translateX(0);
          }
          
          .menu-container .menu-toggle {
            position: absolute;
            top: 16px;
            right: 16px;
            color: #fff;
          }
          
          .mobile-menu {
            padding: 0;
            margin: 0;
            list-style: none;
          }
          
          .mobile-menu .link {
            display: block;
            padding: 10px;
            color: #fff;
            text-decoration: none;
          }

