.our-team-section {
    font-family: var(--Roboto);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    width: 209px;
    padding-top: 94px;
    padding-bottom: 50px;
}

.our-team-boxes ul {
    display: flex;
}