.slider__button {
    font-weight: 700;
    font-size: 16px;
    color: $text-color;
    line-height: 1.875;
    cursor: pointer;
    background-color: $button-background-color;
    padding: 10px 41px 10px 42px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    border-radius: 4px;

    &:hover,
    &:focus {
        color: $button-hover-white;
        background-color: $brand-color;
        border-color: $brand-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        transition: $transition;
    }
}

.portfolio__btn {

    &--style {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.875;
        cursor: pointer;
        background-color: $button-background-color;
        padding: 6px 22px 6px 22px;
        border-radius: 4px;
        border-style: none;

    &:hover,
    &:focus {
        color: $button-hover-white;
        background-color: $brand-color;
        border-color: $brand-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        transition: $transition;
    }
}

    &-positioner {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-top: 94px;
    margin-bottom: 34px;
}
}

    .footer__btn {
        width: 200px;
        height: 50px;
        background-color: $footer-icon-background;
        color: $primary-address-color;
        border-radius: 4px;
        border-style: none;
        margin-left: 12px;
        font-weight: 700;
        text-align: center;
        cursor: pointer;
        text-align: left;
        padding-left: 42px;
  

    &:hover,
    &:focus {
        background-color: $brand-color;
        transition: $transition;
    }
}

@media screen and (min-width:768px) and (max-width:1200px) {
    .footer__btn {
        margin-left: 120px;
    }
}