.logo {
    text-decoration: none;
    font-family: var(--Raleway);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    color: var(--logo-black-color);
    margin-top: 24px;
    margin-left: 15px;
    margin-bottom: 25px;
    margin-right: 93px;
}

.footer-logo {
    text-decoration: none;
    font-family: var(--Raleway);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    color: var(--primary-address-color);
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 60px;
}