.header__logo {
    margin-left: 15px;
    margin-top: 24px;
    text-decoration: none;
    font-family: $Raleway;
    font-weight: 700;
    font-size: 26px;
    color: $brand-color;
}

span {
    color: rgba(0, 0, 0, 1);
}

.footer-logo {
    text-decoration: none;
    font-family: var(--Raleway);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    color: var(--primary-address-color);
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 60px;
}