@mixin transition($color, $transition ){
    transition: $transition;
    color: $brand-color;
    fill: $brand-color;
}

@mixin button($background-color, $transition){
    background-color: $brand-color;
    transition: $transition;
}