.our-team__circle {
    width: 44px;
    height: 44px;
    display: flex;
    margin-left: 32px;
    margin-bottom: 30px;
    align-items: center;
    gap: 10px;
}

.our-team__social-icons {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $primary-address-color;
    fill: $Icon-Color;
}

.our-team__social-icons:hover,
.our-team__social-icons:hover,
.our-team__social-icons:focus svg,
.our-team__social-icons:focus svg {
    background-color: $brand-color;
    fill: $primary-address-color;
    transition: $transition;
}

.footer__socials-container {
    width: 44px;
    height: 44px;
    display: flex;
    gap: 10px;

    .footer__icon {
        @extend .our-team__social-icons;
        background-color: $footer-icon-background;
        fill: $primary-address-color;
    }
}

.footer__icon:hover,
.footer__icon:focus svg {
    background-color: $brand-color;
    fill: $primary-address-color;
    transition: $transition;
}