.social{

    &__circle {
        width: 44px;
        height: 44px;
        display: flex;
        margin-left: 32px;
        margin-bottom: 30px;
        align-items: center;
        gap: 10px;
}

    &__icon {
        display: flex;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: $primary-address-color;
        fill: $Icon-Color;

        &:hover,
        &:focus svg{
                background-color: $brand-color;
                fill: $primary-address-color;
                transition: $transition;
}
    }

&__container {
        width: 44px;
        height: 44px;
        display: flex;
        gap: 10px;
}

&__footer--icon {
        @extend .social__icon;
        background-color: $footer-icon-background;
        fill: $primary-address-color;
}
}