.header__container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.slider__container {
    width: 1200px;
    margin: 0 auto;
}

.our-advantages__container {
    width: 1200px;
    margin: 0 auto;
}

.what-we-do__container {
    width: 1200px;
    margin: 0 auto;
}

.our-team__container {
    width: 1200px;
    margin: 0 auto;
}

.clients__container {
    width: 1200px;
    margin: 0 auto;
}

.category-buttons__container {
    width: 1200px;
    margin: 0 auto;
}

.footer__container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}
