.header__container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

@media screen and (min-width:320px) and (max-width: 767px) {
    .header__container {
        display: flex;
        max-width: 100%;
        margin: 0;
        padding-left: 15px;
        padding-right: 15px;
        justify-content: space-between;
    }
    }

    @media screen and (min-width:768px) and (max-width:1200px) {
        .header__container {
            min-width: 768px;
            max-width: 1200px;
            padding-left: 15px;
            padding-right: 15px;
            justify-content: space-between;
        }
    }

.modal__container {
    width: 1200px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.slider__container {
    width: 1200px;
    margin: 0 auto;
}
@media screen and (min-width:320px) and (max-width: 767px) {
    .slider__container {
        min-width: 320px;
        max-width: 100%;
        margin: 0;
        padding: 0 15px;
        justify-content: space-between;
    }
    }

    @media screen and (min-width:768px) and (max-width:1200px) {
        .slider__container {
            min-width: 768px;
            max-width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            justify-content: space-between;
        }
    }


.advantages__container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (min-width:320px) and (max-width: 767px) {
    .advantages__container {
        min-width: 320px;
        max-width: 100%;
        margin: 0;
        padding: 0 15px;
    }
    }

.offer__container {
    width: 1200px;
    margin: 0 auto;
}

.team__container {
    width: 1200px;
    margin: 0 auto;
}

.clients__container {
    width: 1200px;
    margin: 0 auto;
}

.category-buttons__container {
    width: 1200px;
    margin: 0 auto;
}

.portfolio__container {
    width: 1200px;
    margin: 0 auto;
}

.footer__container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}
