.header__container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.footer__container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}
