.section-title {
    font-family: var(--Roboto);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.section-gray {
    background-color: var(--gray-section-color);
}

.lorem-ipsum-boxes ul {
    display: flex;
    width: 1170px;
    justify-content: center;
    gap: 30px;
    margin-top: 94px;
    margin-bottom: 94px;
}

.what-we-do-section-pictures ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 94px;
    margin-right: 215px;
    margin-left: 215px;
}

.lorem-vectors {
    display: block;
}