
     $brand-color: #2196f3;
    $text-color: #212121;
    $text-decoration-color: #757575;
    $body-font-size: 700;
    $background-color: #2f303a;
    $logo-black-color: #000000;
    $title-white-color: hsla(0, 0%, 100%, 1);
    $button-background-color: #f5f4fa;
    $button-hover-white: #ffffff;
    $gray-section-color: #f5f4fa;
    $primary-address-color: #ffffff;
    $secondary-address-color: hsla(0, 0%, 100%, 0.6);
    $Roboto: "Roboto", sans-serif;
    $Raleway: "Raleway", sans-serif;
    $Img-Overlay: rgba(47, 48, 58, 0.4);
    $Icon-Color: #afb1b8;
    $footer-icon-background: rgba(255, 255, 255, 0.1);
    $transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);